<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-easing/1.3/jquery.easing.min.js"></script>
</head>
<body>
<div style="width: 30%;height: 200px;float: left">
    <svg id="svg" width="100%" height="200">
        <desc>二次贝塞尔平滑曲线</desc>
        <defs></defs>
        <!-- 轮廓 -->
        <path d="M30 40 L40 10" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M40 10 L55 30" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M55 30 Q80 23,105 30" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M105 30 L120 10" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M120 10 L130 40" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M130 40 C180 120, -20 120, 30 40" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>

        <!-- 看啊脸 -->
        <!-- 眼睛 -->
        <path d="M35 50 Q42 58, 48 52" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M125 50 Q118 58, 112 52" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <!-- 鼻子 -->
        <path d="M80 62 L78 67" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>
    </svg>
</div>
<div style="width: 50%;height: 500px;padding-top: 50px;float: left">
    <svg id="svg" width="100%" height="500">
        <desc>二次贝塞尔平滑曲线</desc>
        <defs></defs>
        <!-- 轮廓 -->
        <path d="M30 40 L40 10" stroke="#FFA54F" fill="#ffa54f" style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M40 10 L55 30" stroke="#FFA54F" fill="#ffa54f" style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M55 30 Q80 23, 105 30" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M105 30 L120 10" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M120 10 L130 40" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>

        <path d="M130 40 C180 120, 85 120, 85 100" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M85 100 Q98 120, 100 190" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>

        <path d="M30 40 C-20 120, 75 120, 75 100" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M75 100 Q62 120, 60 190" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>

        <path d="M60 190 Q80 210, 100 190" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>

        <path d="M80 200 C95 250, 100 120, 162 160" stroke="#FFA54F" fill="none" style="stroke-width: 5px;stroke-linejoin: round;"></path>
    </svg>
</div>
</body>
</html>